.app .app-body .app-sidebar {
  width: 17rem !important;
  max-width: 17rem !important;
}
h1.page-header {
  line-height: 1.5rem;
}
h1.page-header small {
  font-size: 60%;
}

.content-inner {
  background-color: #FFF;
  padding: 10px 15px;
}

.filter-fields {
  padding-top: 12px;
}

.btn-light {
  border: 1px solid #CED4DA;
}

.mgmt-btn-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: center;
}
table.table tr td, table.table tr th {
  vertical-align: middle;
}

.advFilter {
  transition: height 0.2s ease-out;
  height: auto;
  visibility: visible;
  background-color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
}
.advFilter.hide {
  height: 0;
  visibility: hidden;
}
.advFilter .rangeLbl {
  margin-top: 7px;
}

tr.rec-pending td:first-child {
  border-left: 5px solid #7D8995;
}

tr.rec-posted td:first-child {
  border-left: 5px solid #3CA2E0;
}

tr.rec-cancelled td:first-child {
  border-left: 5px solid #E95644;
}
ul.sidebar-nav li.hidden {
  display: none !important;
}

.modal .form-control-feedback {
  top: 12px !important;
  right: 20px !important;
}